:root {
    --primary: rgb(32,85,107);
    --secondary: rgb(195,193,186);
    --accent: rgb(178,199,198);
    --accent-opaque: rgba(178,199,198,0.3);
    --light: #FFFFFF;
    --dark: #000000;
    --border-radius: 4px;
    --heading-font: "Josefin Sans", Arial, sans-serif;
    --paragraph-font: Roboto, Arial, serif;
  }

body {
  font-family: var(--paragraph-font);
  /* font-size: 16px;
  line-height: 1; */
}

main {
  margin: 0 20px;
}

 h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: bold;
 }

.jumbotron {
  background-image: linear-gradient(to right, var(--accent), var(--primary));
  color: var(--light);
  text-align: center;
}

.card-header {
  background: transparent;
  border: none;
}

.card {
  border: none;
}

.btn {
  background-color: var(--accent);
  font-size: 12px;
}

.btn:hover {
  background-color: var(--accent);
}

.historyBtn {
  background-color: var(--secondary);
  margin: 5px 0;
}

.btn-primary {
  background-color: var(--primary);
}

#maxLimit {
  font-size: 10px;
}

.forecastCard {
  background-color: var(--primary);
  color: var(--light);
  border-radius: var(--border-radius);
  margin: 5px;
}

.border {
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius);
}

.uv-index-low {
  background-color: green;
  color: var(--light);
  padding: 4px;
  border-radius: var(--border-radius);
}

.uv-index-moderate {
  background-color: yellow;
  padding: 4px;
  border-radius: var(--border-radius);
}

.uv-index-high {
  background-color: orange;
  color: var(--light);
  padding: 4px;
  border-radius: var(--border-radius);
}

.uv-index-vhigh {
  background-color: red;
  color: var(--light);
  padding: 4px;
  border-radius: var(--border-radius);
}

.uv-index-extreme {
  background-color: purple;
  color: var(--light);
  padding: 4px;
  border-radius: var(--border-radius);
}

/* div {
  border: 1px red solid;
} */